/.gradle/**
/.idea/**
/build/**
/log-path_IS_UNDEFINED/**

*.log
*.Rhistory
*.Rdata

/output/**
.Rproj.user
scenarios/slc_100-100/conversion-input/plans_100-100.xml

test/input/slc-light/sample/125k
test/input/slc-light/sample/250k
test/input/slc-light/sample/375k
test/input/slc-light/sample/500k
R/mc_memos/events
test/input/slc-light/sample/wfrc_100k