/.gradle/**
/.idea/**
/build/**
/log-path_IS_UNDEFINED/**
/.Rproj.user/**

*.log
*.Rhistory
*.Rdata

/test/output/**
/output/**
.Rproj.user

test/input/slc-light/sample/125k
test/input/slc-light/sample/250k
test/input/slc-light/sample/375k
test/input/slc-light/sample/500k
R/mc_memos/events
test/input/slc-light/sample/wfrc_100k